body
{
    color: #333;
    text-align: left;
    font-family: "Curier";
    font-size: 16px;
}

#container 
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 10px solid darkgreen;
}

#container h1 
{
    font-size: 20px;
}